---
name: CI
on: [push,pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.16.5'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.41
      - name: dry run
        run: bash scripts/test-dry-run.sh
