---
name: test (workflow_call)
permissions: {}
on: workflow_call
jobs:
  test:
    uses: suzuki-shunsuke/go-test-full-workflow/.github/workflows/test.yaml@596bc52a7f02dd896d3351e61e4dfa661c1f3304 # v5.0.1
    with:
      aqua_version: v2.56.6
      golangci-lint-timeout: 120s
    permissions:
      pull-requests: write
      contents: read

  build:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod

      - uses: aquaproj/aqua-installer@11dd79b4e498d471a9385aa9fb7f62bb5f52a73c # v4.0.4
        with:
          aqua_version: v2.56.6

      - name: dry run
        run: bash scripts/test-dry-run.sh

  test_deploy_doc:
    uses: ./.github/workflows/workflow_call_deploy_doc.yaml
    permissions:
      contents: write
      issues: write
